@model IEnumerable< Online_SHopping_Cart.Models.Order_Table>

@{
    ViewBag.Title = "notification";
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
}
<style>
    .wrapper{
        margin-left: 200px;
        width: 600px;
        height: 400px;
        text-align: center;
    }
</style>

<h3 style="text-align:center">Notifications</h3>
<link href="~/Content/materialize.css" rel="stylesheet" />
<script src="~/scripts/materialize.js"></script>
<div class="row">
    <div class="col s4">
     
    </div>
    <div class="col s4">
        <div class="collection">
            @foreach (var item in Model)
            {
                <div class="collection-item">
                    <p>Order ID:  @Html.DisplayFor(modelItem => item.OrderId)</p>
                    <p>Your Order Will BE Delivered By @Html.DisplayFor(modelItem => item.OrderDeliveryDate)</p>
                    @Html.ActionLink("Details", "OrderHistoryDetails", new { @class = "btn waves-effect waves-light", id = item.OrderId })

                </div>
            }
        </div>
    </div>
</div>