@model Online_SHopping_Cart.ViewModel.Book
@{
    ViewBag.Title = "purchase_all";
    
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div style="margin-left:20%;margin-top:8%;">
    <div class="row">
        <h5 >Booking Details</h5>
        <form method="post" action="/Buyer/purchase_all" class="col s3">
            <h6 style="color:red;" id="no_msg">Sorry no Service Provider available to current Location</h6>
            <h6>Location</h6>
            @Html.DropDownList("place", (IEnumerable<SelectListItem>)ViewBag.location_list, "--Select--", htmlAttributes: new { @class = "dropdown-button btn", id = "ddlbcat" })

            <h6>Service</h6>
            @Html.DropDownListFor(model => model.UserId, new List<SelectListItem>(), "--Select--", htmlAttributes: new { @class = "dropdown-button btn", id = "ddlpcat" })

            <h6>Delivery Adddress</h6><br />
            @Html.TextAreaFor(model => model.OrderDelivryAddress, htmlAttributes: new { id = "address" })
            <br />
            <div id="bookbtn">
                <button type="submit" class="btn waves-effect waves-light">
                    BOOK
                </button>
            </div>
        </form>


        <div id="dvMap" style="width: 500px; height: 500px;">

        </div>
    </div>
</div>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/materialize.js"></script>
    
    
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1V0ctVqyVwcbQXzT6xXDk6rUKpocVFGg&callback=myMap"></script>
    <script>
        $(document).ready(function () {
            $("#no_msg").hide();
            $("#bookbtn").hide();
            $('#ddlbcat').change(function () {
                $.ajax({
                    type: "post",
                    url: "/Buyer/service_name_all",
                    data: { id: $('#ddlbcat').val() },
                    datatype: "json",

                    success: function (data) {
                        var category = "<select id='ddlpcat'>";
                        category = category + '<option value="">--Select--</option>';
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                category = category + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            category = category + '</select>';
                            $('#ddlpcat').html(category);
                            $("#no_msg").hide();
                            $("#bookbtn").show();
                        }
                        else {
                            $("#no_msg").show();
                            $("#bookbtn").hide();
                        }
                    }
                });
            });

        

        });

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                var mapOptions = {
                    center: LatLng,
                    zoom: 16,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
                var marker = new google.maps.Marker({
                    position: LatLng,
                    map: map,
                    title: "<div style = 'height:60px;width:200px'><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                });
                google.maps.event.addListener(marker, "click", function (e) {
                    var infoWindow = new google.maps.InfoWindow();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                });
            });
        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    </script>
