
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>try1</title>
    <link href="~/Content/materialize.css" rel="stylesheet" />
</head>

<body>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                  
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Autocomplete</label>
                </div>
            </div>
        </div>
    </div>
   
    @{ 
        var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
        var userInfoJson = jss.Serialize(ViewBag.inc);
    }
</body>
</html>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/materialize.js"></script>
<script>
    
    $(document).ready(function () {

       
       
        $('input.autocomplete').autocomplete({
            data: {
                //"Apple": null,
                //"Microsoft": null,
                //"Google": 'https://placehold.it/250x250'
                var userInfo = JSON.parse(@Html.Raw(userInfoJson))
                //userInfo
            },
            limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
            onAutocomplete: function (val) {
                // Callback function when value is autcompleted.
            },
            minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
        });
    });
</script>

