
@{
    ViewBag.Title = "View_Service";
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
      rel="stylesheet" type="text/css" />
<link href="~/Content/ServiceStyleSheet.css" rel="stylesheet" />
<script src="~/scripts/viewService.js"></script>
<br /><br /><br /><br /><br />

<div class="container">
    <h2>
        View Service
    </h2>
    
    @{
        var gridview = new WebGrid(ViewBag.OrderList, ajaxUpdateContainerId: "ajaxgrid", rowsPerPage: 10);
    }
    @gridview.GetHtml(

    tableStyle: "webGrid", headerStyle: "header", alternatingRowStyle: "altColor", selectedRowStyle: "clickable",
    columns: new[]
    {
        gridview.Column(columnName:"Orderid", header: "Order Id",format: @<text>
        <span id="OrderId" class="read">@item.Orderid</span></text>),
        gridview.Column(columnName:"OrderDeliveryDate", header: "Deliver Before", format: (item) => string.Format("{0:dd-MMM-yyyy}", item.OrderDeliveryDate)),
        gridview.Column(columnName:"TotalAmount",header:"Total Amount",format: @<text>@String.Format("{0:0.00}", (decimal)(item.TotalAmount)) </text>),
        gridview.Column(columnName:"Userid", header: "User Id",format: @<text>
        <span id="UserId" class="read">@item.Userid</span></text>) ,
        gridview.Column(format: @<text> <a class="details" href="javascript:void(0);  ">View Details</a></text>
        )
    })
</div>

<div id="dialog" style="display: none">

</div>

